.tamaño{
	width: 100%;
	height: 93%;
}

.video{
	width: 120%;
	height: 300%;
}

.letra_titulo {
	color: white;
	font-size: 40px;
}

.pos{
	margin-top: 30%;
}

.letra_descripcion{
	color: white;
	font-size: 25px;
}

.posicion{
	margin-top: 20px;
	margin-bottom: 20px;
}
