.tamaño{
	width: 100%;
	height: 93%;
}

.video{
	width: 120%;
	height: 300%;
}

.letra_titulo {
	color: white;
	font-size: 40px;
}

.pos{
	margin-top: 35%;
}

.letra_descripcion{
	color: white;
	font-size: 20px;
}

.posicion{
	margin-top: 20px;
	margin-bottom: 20px;
}

.tem{
	margin-left: 10%;

}

.letra{
	color: #778899;
	font-size: 25px;
}

.boton{
	margin-bottom: 5%;
}

.google{
	width: 40px;
	border-radius: 50%;

}

.top{
	margin-top: 5px; 
}

